<ion-header class="ion-header-toolbar">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start" style="color: white">
      <ion-button fill="clear" (click)="goBack()" class="custom-back-button">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="responsive-toolbar-title" style="color: white">
      {{ 'appbar.Title-POR' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-loading [isOpen]="isLoading" [message]="loadingMessage"></ion-loading>

  <ion-row>
    <ion-col size="12" size-lg="12">
      <ion-card-title class="card-title">
        <span class="icon-text-row">
          <ion-text style="text-transform: uppercase" class="ion-text"
            >{{"PorFormScreen.googleLocation" | translate }}</ion-text
          >
        </span>
      </ion-card-title>
      <!-- <ion-card-content> -->
      <ion-row style="padding: 10px">
        <ion-col size="6">
          <ion-row>
            <ion-col size="12">
              <ion-text class="ion-label-large"
                >{{"PorFormScreen.lat" | translate }}</ion-text
              >
            </ion-col>
            <ion-col size="12">
              <ion-text class="ion-text-small">{{lat}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col size="6">
          <ion-row style="text-align: center">
            <ion-col size="12">
              <ion-text class="ion-label-large"
                >{{"PorFormScreen.lng" | translate }}</ion-text
              >
            </ion-col>
            <ion-col size="12">
              <ion-text class="ion-text-small">{{lon}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col size="12" size-lg="6">
          <ion-text class="ion-label-desc"
            >{{complain_location_google_addres}}</ion-text
          >
        </ion-col>

        <ion-col size="12" size-lg="6">
          <ion-button
            fill="solid"
            expand="block"
            color="success"
            shape="round"
            (click)="openMap()"
            style="--ion-color-contrast: white"
          >
            <ion-icon
              style="color: white; text-transform: uppercase"
              name="location-outline"
              slot="start"
            ></ion-icon>
            {{"PorFormScreen.MaplocationTxt" | translate }}
          </ion-button>
        </ion-col>
        <ion-col size="12" size-lg="12">
          <ion-img
            [src]="'https://forest.cg.gov.in/FOREST_COMPLAIN/uploads/' + imgurl"
          />
        </ion-col>
      </ion-row>

      <ion-col size="12">
        <ion-card style="padding: 12px">
          <ion-col size="12">
            <ion-label class="ion-label-large"
              >{{ 'PorFormScreen.personalinformationtxt' | translate
              }}</ion-label
            >
          </ion-col>

          <ion-row style="margin-top: 5px">
            <ion-col size="6">
              <ion-row>
                <ion-col size="12">
                  <ion-label class="ion-label-small"
                    >{{ 'PorFormScreen.porno' | translate }}</ion-label
                  >
                </ion-col>
                <ion-col size="12">
                  <ion-label class="ion-label-desc">{{porno}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="6">
              <ion-row class="ion-text-end">
                <ion-col size="12">
                  <ion-label class="ion-label-small"
                    >{{ 'PorFormScreen.Compartment' | translate }}</ion-label
                  >
                </ion-col>
                <ion-col size="12">
                  <ion-label class="ion-label-desc"
                    >{{compartmentNumber}}</ion-label
                  >
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="12">
              <ion-row>
                <ion-label class="ion-label-small"
                  >{{ 'PorFormScreen.AccussedName' | translate }}</ion-label
                >
              </ion-row>
              <ion-row>
                <ion-label class="ion-label-desc">{{accussedName}}</ion-label>
              </ion-row>
            </ion-col>
            <ion-col size="12">
              <ion-row>
                <ion-label class="ion-label-small"
                  >{{ 'PorFormScreen.FathersName' | translate }}</ion-label
                ></ion-row
              ><ion-row>
                <ion-label class="ion-label-desc"
                  >{{accussedFatherName}}</ion-label
                ></ion-row
              >
            </ion-col>
            <ion-col size="12">
              <ion-row>
                <ion-label class="ion-label-small"
                  >{{ 'PorFormScreen.CasteTxt' | translate }}</ion-label
                ></ion-row
              ><ion-row>
                <ion-label class="ion-label-desc"
                  >{{accussedCast}}</ion-label
                ></ion-row
              >
            </ion-col>
            <ion-col size="12">
              <ion-row>
                <ion-label class="ion-label-small"
                  >{{ 'PorFormScreen.AddressTxt' | translate }}</ion-label
                ></ion-row
              >
              <ion-row>
                <ion-label class="ion-label-desc">{{address}}</ion-label>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card style="padding: 12px">
          <ion-col size="12">
            <ion-label class="ion-label-large"
              >{{ 'PorFormScreen.crimehead' | translate }}</ion-label
            >
          </ion-col>
          <ion-row style="margin-top: 5px">
            <ion-col size="12">
              <ion-row>
                <ion-label class="ion-label-small"
                  >{{ 'PorFormScreen.TypeOfCrimeAndLeagleAcctionTXT' | translate
                  }}</ion-label
                ></ion-row
              ><ion-row>
                <ion-label class="ion-label-desc"
                  >{{crimType}}</ion-label
                ></ion-row
              >
            </ion-col>
            <ion-col size="12">
              <ion-row>
                <ion-label class="ion-label-small"
                  >{{ 'PorFormScreen.DateOCrime' | translate }}</ion-label
                ></ion-row
              ><ion-row>
                <ion-label class="ion-label-desc"
                  >{{crimeDate}}</ion-label
                ></ion-row
              >
            </ion-col>
            <!-- <ion-col size="6">
              <ion-row> -->
            <ion-col size="12">
              <ion-row>
                <ion-label class="ion-label-small"
                  >{{ 'PorFormScreen.DetailOfSeizedNdActions' | translate
                  }}</ion-label
                > </ion-row
              ><ion-row>
                <ion-label class="ion-label-desc"
                  >{{seizedGoodDetail}}</ion-label
                ></ion-row
              >
            </ion-col>
            <ion-col size="12">
              <ion-row>
                <ion-label class="ion-label-small"
                  >{{ 'PorFormScreen.CrimePlaceTxt' | translate }}</ion-label
                ></ion-row
              ><ion-row>
                <ion-label class="ion-label-desc"
                  >{{crimePlace}}</ion-label
                ></ion-row
              >
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card style="padding: 12px">
          <ion-col size="12">
            <ion-label class="ion-label-large"
              >{{ 'PorFormScreen.WitnessInfo' | translate }}</ion-label
            >
          </ion-col>

          <ion-row style="margin-top: 5px">
            <!-- <ion-col size="6">
              <ion-row> -->
            <ion-col size="12">
              <ion-row>
                <ion-label class="ion-label-small"
                  >{{ 'PorFormScreen.NameOWitness1' | translate }}</ion-label
                ></ion-row
              ><ion-row>
                <ion-label class="ion-label-desc"
                  >{{witness1}}</ion-label
                ></ion-row
              >
            </ion-col>
            <!-- </ion-row>
            </ion-col> -->
            <!-- <ion-col size="6">
              <ion-row class="ion-text-end"> -->
            <ion-col size="12">
              <ion-row>
                <ion-label class="ion-label-small"
                  >{{ 'PorFormScreen.WitnessAddressTxt1' | translate
                  }}</ion-label
                ></ion-row
              ><ion-row>
                <ion-label class="ion-label-desc"
                  >{{addressWitness1}}</ion-label
                ></ion-row
              >
            </ion-col>
            <!-- </ion-row>
            </ion-col> -->
            <!-- <ion-col size="6">
              <ion-row> -->
            <ion-col size="12">
              <ion-row>
                <ion-label class="ion-label-small"
                  >{{ 'PorFormScreen.NameOWitness2' | translate }}</ion-label
                ></ion-row
              ><ion-row>
                <ion-label class="ion-label-desc"
                  >{{witness2}}</ion-label
                ></ion-row
              >
            </ion-col>
            <!-- </ion-row>
            </ion-col> -->
            <!-- <ion-col size="6" class="ion-text-end">
              <ion-row> -->
            <ion-col size="12">
              <ion-row>
                <ion-label class="ion-label-small"
                  >{{ 'PorFormScreen.WitnessAddressTxt2' | translate
                  }}</ion-label
                ></ion-row
              ><ion-row>
                <ion-label class="ion-label-desc"
                  >{{addressWitness2}}</ion-label
                ></ion-row
              >
            </ion-col>
            <!-- </ion-row>
            </ion-col> -->
          </ion-row>
        </ion-card>

        <ion-row *ngIf="is_pending">
          <ion-col size="6">
            <ion-button
              expand="block"
              (click)="approveOrReject('1')"
              class="submit-button"
            >
              <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
              स्वीकृत
            </ion-button>
          </ion-col>

          <ion-col size="6">
            <ion-button
              expand="block"
              (click)="approveOrReject('2')"
              class="cancel-button"
            >
              <ion-icon name="close-circle-outline" slot="start"></ion-icon>
              अस्वीकृत
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-col>

    <!-- Left Spacer -->
    <ion-col size="0" size-lg="2"></ion-col>
  </ion-row>
</ion-content>
