<ion-content [fullscreen]="true">
  <div class="form">
    <div class="logo-div">
      <ion-img
        src="../../../assets/icon/Logo.png"
        class="logo"
        alt="App Logo"
      />
    </div>
    <p class="title1">{{'auth.Title1'|translate}}</p>
    <p class="title2">{{'auth.Title2'|translate}}</p>
    <ion-input
      label="{{'auth.UidTxt'|translate}}"
      labelPlacement="floating"
      fill="outline"
      type="number"
      style="width: 88%; margin-bottom: 6%; --highlight-color-focused: green"
    />
    <ion-input
      label="{{'auth.PasswordTxt'|translate}}"
      labelPlacement="floating"
      fill="outline"
      style="width: 88%; margin-bottom: 6%; --highlight-color-focused: green"
    />
    <ion-radio-group value="English" style="margin-bottom: 6%">
      <ion-radio
        value="Hindi"
        labelPlacement="end"
        (click)="changeLanguage('hi')"
        >Hindi</ion-radio
      >
      &nbsp; &nbsp; &nbsp; &nbsp;
      <ion-radio
        value="English"
        labelPlacement="end"
        (click)="changeLanguage('en')"
        >English</ion-radio
      >
    </ion-radio-group>
    <ion-button class="login-btn" (click)="on_login()"
      >{{'auth.LoginBtnTxt'|translate}}</ion-button
    >
  </div>
</ion-content>
