<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/menu/home" routerDirection="root">Home</ion-item>
      <ion-item routerLink="/menu/settings" routerDirection="root"
        >Settings</ion-item
      >
      <ion-item routerLink="/login" routerDirection="root">Logout</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>
