<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-grid style="height: 100%">
    <ion-row
      class="ion-align-items-center ion-justify-content-center"
      style="height: 100%"
    >
      <ion-col size="12">
        <ion-img src="assets/icon/Logo.png" class="splashlogo"></ion-img>
        <p class="title1">वन एवं जलवायु परिवर्तन विभाग</p>
        <p class="title2">छत्तीसगढ़ सरकार</p>
        <ion-spinner color="primary" class="spinner"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
