
.title1{
    color: green;
    font-weight: 800;
    font-size: larger;
    margin: 0px;
    margin-top: 2%;
}
.title2{
    color: black;
    font-weight: 500;
    margin: 0px;
}
.splashlogo{max-width: 30%; margin:0 auto;}
.spinner{margin-top: 4%}

//medium screen 

@media (min-width:600px) {
    .splashlogo{max-width: 10%; margin: 0 auto}

    
.title1{
    color: green;
    font-weight: 800;
    font-size: larger;
    margin: 0px;
    margin-top: 1%;
}
.spinner{margin-top: 1%}
}