<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'auth.profileDetails' | translate }}</ion-title>
    <ion-img src="assets/icon/Logo.png" slot="end" class="logo-img"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="profile-form ion-padding">
    <ion-grid>
      <ion-row
        class="ion-align-items-center ion-justify-content-center full-height"
      >
        <ion-col size-lg="4" size-sm="12" class="content-col">
          <p class="namecontain">
            {{userdata.f_name+" "+userdata.l_name}}
            ({{userdata.designation_name}})
          </p>
          <!-- AutoComplete Input Fields -->
          <ng-container *ngFor="let field of autoCompleteFields">
            <mat-form-field
              appearance="outline"
              class="full-width"
              floatLabel="auto"
            >
              <mat-label>{{ field.label }}</mat-label>
              <input
                matInput
                placeholder="Pick one"
                [formControl]="field.control"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="displayFn"
              >
                <mat-option
                  *ngFor="let option of field.options$() | async"
                  [value]="option"
                >
                  > {{ option.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </ng-container>

          <!-- Submit Button -->
          <ion-button expand="block" class="submit-btn" (click)="onClick()">
            {{'PorFormScreen.SubmitTxt'|translate}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
