<ion-header class="ion-header-toolbar">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()" class="custom-back-button">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="responsive-toolbar-title">
      {{ 'appbar.Title-POR' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-loading [isOpen]="isLoading" [message]="loadingMessage"></ion-loading>

  <!-- Current Location Card -->
  <ion-card class="location-card" style="margin-top: 10px">
    <ion-card-header class="card-header">
      <ion-card-title class="card-title">
        <div class="title-wrapper">
          <ion-icon
            name="location-outline"
            color="white"
            class="title-icon"
          ></ion-icon>
          <ion-text class="title-text">
            {{ 'PorFormScreen.CurrentLocation' | translate }}
          </ion-text>
        </div>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="card-content">
      <ion-grid class="location-grid">
        <ion-row class="location-row">
          <ion-col size="5" class="coordinate-col">
            <div class="coordinate-wrapper">
              <ion-text class="coordinate-label"
                >{{ 'PorFormScreen.lat' | translate }}</ion-text
              >
              <ion-text class="coordinate-value">{{ latitude }}</ion-text>
            </div>
          </ion-col>

          <ion-col size="5" class="coordinate-col">
            <div class="coordinate-wrapper">
              <ion-text class="coordinate-label"
                >{{ 'PorFormScreen.lng' | translate }}</ion-text
              >
              <ion-text class="coordinate-value">{{ longitude }}</ion-text>
            </div>
          </ion-col>

          <ion-col size="2" class="refresh-col">
            <ion-button
              fill="clear"
              class="refresh-button"
              (click)="getCurrentLatLng()"
              [disabled]="isGettingLocation"
            >
              <ion-icon
                name="refresh-circle-outline"
                size="large"
                [class.spin-animation]="isGettingLocation"
                class="refresh-icon"
              ></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="address-row">
          <ion-col size="12" class="address-col">
            <ion-text class="address-text"
              >{{ current_location_google_addres }}</ion-text
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Personal Info Section -->
  <ion-grid>
    <ion-card style="padding: 12px">
      <ion-row
        ><ion-col size="12"
          ><ion-label class="ion-label-large" style="font-weight: 700"
            >{{ 'PorFormScreen.personalinformationtxt' | translate }}</ion-label
          ></ion-col
        ></ion-row
      >

      <ion-row style="margin-top: 5px">
        <ion-col size="12" size-lg="4">
          <ion-label class="ion-text-extra-small"
            >{{ 'PorFormScreen.porno' | translate }}</ion-label
          >
          <ion-input
            [(ngModel)]="PorNo"
            fill="outline"
            style="margin-top: 5px"
          ></ion-input>
        </ion-col>

        <ion-col size="12" size-lg="4">
          <ion-label class="ion-text-extra-small"
            >{{ 'PorFormScreen.Compartment' | translate }}</ion-label
          >
          <mat-form-field
            appearance="outline"
            style="width: 100%; margin-top: 5px; background-color: white"
          >
            <mat-select
              [(value)]="selectedCompartment"
              placeholder="Select Compartment"
            >
              <mat-option *ngFor="let comp of listOfBeat" [value]="comp"
                >{{ comp }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </ion-col>

        <ion-col size="12" size-lg="4">
          <ion-label class="ion-text-extra-small"
            >{{ 'PorFormScreen.AccussedName' | translate }}</ion-label
          >
          <ion-input
            [(ngModel)]="accussedName"
            fill="outline"
            style="margin-top: 5px"
          ></ion-input>
        </ion-col>

        <ion-col size="12" size-lg="6">
          <ion-label class="ion-text-extra-small"
            >{{ 'PorFormScreen.FathersName' | translate }}</ion-label
          >
          <ion-input
            [(ngModel)]="accussedFatherName"
            fill="outline"
            style="margin-top: 5px"
          ></ion-input>
        </ion-col>

        <ion-col size="12" size-lg="6">
          <ion-label class="ion-text-extra-small"
            >{{ 'PorFormScreen.CasteTxt' | translate }}</ion-label
          >
          <mat-form-field
            appearance="outline"
            style="width: 100%; margin-top: 5px; background-color: white"
          >
            <mat-select [(value)]="selectedCaste" placeholder="Select Caste">
              <mat-option *ngFor="let caste of listOfCast" [value]="caste"
                >{{ caste.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </ion-col>

        <ion-col size="12">
          <ion-label class="ion-text-extra-small"
            >{{ 'PorFormScreen.AddressTxt' | translate }}</ion-label
          >
          <ion-textarea
            [(ngModel)]="address"
            fill="outline"
            [autoGrow]="true"
            rows="5"
            style="margin-top: 5px"
          ></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-card>

    <!-- Crime Details Section -->

    <ion-card style="padding: 12px">
      <ion-row style="margin-top: 10px">
        <ion-col size="12">
          <ion-label class="ion-label-large" style="font-weight: 700"
            >{{ 'PorFormScreen.crimehead' | translate }}</ion-label
          >
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 5px">
        <ion-col size="12">
          <ion-label class="ion-text-extra-small"
            >{{ 'PorFormScreen.TypeOfCrimeAndLeagleAcctionTXT' | translate
            }}</ion-label
          >
          <mat-form-field
            appearance="outline"
            style="width: 100%; margin-top: 5px; background-color: white"
          >
            <mat-select
              placeholder="Select Crime Type"
              (selectionChange)="onCrimeChange($event.value)"
            >
              <mat-option
                *ngFor="let crime of listOfCrimType"
                [value]="crime.id"
                >{{ crime.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>

          <mat-form-field
            *ngIf="filteredDharaList.length > 0"
            appearance="outline"
            style="width: 100%; margin-top: 5px; background-color: white"
          >
            <mat-select placeholder="Select Dhara" [(value)]="selectedDhara">
              <mat-option
                *ngFor="let dhara of filteredDharaList"
                [value]="dhara"
                >{{ dhara }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </ion-col>

        <ion-col size="12" size-lg="6">
          <ion-label class="ion-text-extra-small"
            >{{ 'PorFormScreen.DateOCrime' | translate }}</ion-label
          >
          <mat-form-field appearance="outline" style="width: 100%">
            <input
              matInput
              [matDatepicker]="picker"
              [(ngModel)]="crimeDate"
              placeholder="MM/DD/YYYY"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </ion-col>

        <ion-col size="12" size-lg="6">
          <ion-label class="ion-text-extra-small"
            >{{ 'PorFormScreen.DetailOfSeizedNdActions' | translate
            }}</ion-label
          >
          <ion-input
            [(ngModel)]="seizedGoodDetail"
            fill="outline"
            style="margin-top: 5px"
          ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-label class="ion-text-extra-small"
            >{{ 'PorFormScreen.CrimePlaceTxt' | translate }}</ion-label
          >
          <ion-textarea
            [(ngModel)]="placeofCrime"
            fill="outline"
            [autoGrow]="true"
            rows="5"
            style="margin-top: 5px"
          ></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-card>
    <!-- Witness Section -->
    <ion-card style="padding: 12px">
      <ion-row style="margin-top: 10px">
        <ion-col size="12">
          <ion-label class="ion-label-large" style="font-weight: 700"
            >{{ 'PorFormScreen.WitnessInfo' | translate }}</ion-label
          >
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 5px">
        <ion-col size="12" size-lg="6">
          <ion-label class="ion-text-extra-small"
            >{{ 'PorFormScreen.NameOWitness1' | translate }}</ion-label
          >
          <ion-input
            [(ngModel)]="FirstwitnessName"
            fill="outline"
            style="margin-top: 5px"
          ></ion-input>
        </ion-col>
        <ion-col size="12" size-lg="6">
          <ion-label class="ion-text-extra-small"
            >{{ 'PorFormScreen.WitnessAddressTxt1' | translate }}</ion-label
          >
          <ion-input
            [(ngModel)]="FirstwitnessAddress"
            fill="outline"
            style="margin-top: 5px"
          ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 5px">
        <ion-col size="12" size-lg="6">
          <ion-label class="ion-text-extra-small"
            >{{ 'PorFormScreen.NameOWitness2' | translate }}</ion-label
          >
          <ion-input
            [(ngModel)]="SecondwitnessName"
            fill="outline"
            style="margin-top: 5px"
          ></ion-input>
        </ion-col>
        <ion-col size="12" size-lg="6">
          <ion-label class="ion-text-extra-small"
            >{{ 'PorFormScreen.WitnessAddressTxt2' | translate }}</ion-label
          >
          <ion-input
            [(ngModel)]="SecondwitnessAddress"
            fill="outline"
            style="margin-top: 5px"
          ></ion-input>
        </ion-col>
      </ion-row>
    </ion-card>

    <!-- Photo Section -->
    <ion-row class="date-picker-card" style="margin: 5px">
      <ion-col size="10">
        <ion-label class="instruction-label"
          >{{ 'PorFormScreen.cameratxt' | translate }}</ion-label
        >
      </ion-col>
      <ion-col size="1">
        <ion-button
          fill="clear"
          size="small"
          (click)="takePic()"
          class="camera-btn"
        >
          <ion-icon
            style="color: black"
            size="large"
            slot="icon-only"
            name="camera-outline"
          ></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="horizontal-scroll-wrapper">
          <div
            class="photo-container"
            *ngFor="let photo of photos; let i = index"
          >
            <img [src]="photo" class="scroll-image" />
            <ion-icon
              name="close-circle"
              style="color: red"
              class="remove-icon"
              (click)="removePhoto(i)"
            ></ion-icon>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <!-- Submit/Cancel Buttons -->
    <ion-row>
      <ion-col size="12">
        <div class="button-container">
          <ion-button
            expand="block"
            (click)="submitCrimDetail()"
            class="submit-button"
          >
            <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
            SUBMIT
          </ion-button>
          <ion-button expand="block" (click)="cancel()" class="cancel-button">
            <ion-icon name="close-circle-outline" slot="start"></ion-icon>
            CANCEL
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
