<ion-header [translucent]="true">
  <ion-toolbar style="--background: linear-gradient(135deg, green, teal)">
    <ion-buttons slot="start" style="color: white">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white"
      >{{ 'appbar.Title-Dashboard' | translate }}</ion-title
    >
    <ion-img
      src="assets/icon/Logo.png"
      slot="end"
      style="width: 40px; height: 40px; margin-right: 1rem"
    />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Title -->
  <ion-grid>
    <!-- <ion-card>
      <ion-card-content> -->
    <ion-row>
      <ion-col>
        <h2 class="title-txt" style="margin: 5% 0 2% 5%">
          {{ 'dashboard.reporttxt' | translate }}
        </h2>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" sizeMd="6" class="ion-text-center">
        <ng-container *ngIf="isChartVisible; else noData">
          <canvas
            baseChart
            [data]="doughnutChartData"
            [type]="doughnutChartType"
            [options]="doughnutChartOptions"
            style="height: 300px"
          ></canvas>
        </ng-container>
        <ng-template #noData>
          <p
            style="
              font-weight: 600;
              color: gray;
              font-size: 1rem;
              margin-top: 2rem;
              text-transform: capitalize;
            "
          >
            {{ 'dashboard.norecordfound' | translate }}
          </p>
        </ng-template>
      </ion-col>
    </ion-row>

    <!-- Description -->
    <ion-row>
      <ion-col size="12">
        <p class="desc-txt ion-text-center" style="margin-bottom: 2%">
          {{ 'dashboard.shortdescribe' | translate }}
        </p>
      </ion-col>
    </ion-row>
    <!-- </ion-card-content>
    </ion-card> -->

    <!-- Cards -->
    <ion-row class="dashboard-cards" [class.center-cards]="isBG">
      <!-- Total Card -->
      <ion-col size="12" sizeMd="4">
        <ion-card class="card card-total">
          <ion-card-header>
            <ion-icon name="analytics-outline" class="card-icon"></ion-icon>
            <ion-card-title>{{ totalpor }}</ion-card-title>
            <ion-card-subtitle
              >{{ 'dashboard.short-totalnumbertext' | translate
              }}</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            {{ 'dashboard.totalnumbertext' | translate }}
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Completed Card -->
      <ion-col size="12" sizeMd="4" *ngIf="!isBG">
        <ion-card class="card card-completed">
          <ion-card-header>
            <ion-icon
              name="checkmark-done-circle-outline"
              class="card-icon"
            ></ion-icon>
            <ion-card-title>{{ approvedpor }}</ion-card-title>
            <ion-card-subtitle
              >{{ 'dashboard.short-completedtnumberxt' | translate
              }}</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            {{ 'dashboard.completedtnumberxt' | translate }}
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="4" *ngIf="!isBG">
        <ion-card class="card card-pending">
          <ion-card-header>
            <ion-icon name="time-outline" class="card-icon"></ion-icon>
            <ion-card-title>{{ pendingpor }}</ion-card-title>
            <ion-card-subtitle
              >{{ 'dashboard.short-pendingnumbertxt' | translate
              }}</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            {{ 'dashboard.pendingnumbertxt' | translate }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
