.title-txt{
    font-weight: 800;
    font-size: large;
    color: black;

}canvas {
    display: block;
    width: 70% !important;
    height: 14rem !important;  // 👈 You MUST specify a height
    margin: 0 auto;
  }
  .desc-txt{
    color: black;
    font-weight: 500;
  }

  