<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
    <ion-img
      src="assets/icon/Logo.png"
      slot="end"
      style="width: 10%; height: 10%; margin-right: 1%"
    />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p class="title-txt" style="margin-left: 5%; margin-top: 10%">Report</p>
  <div>
    <canvas
      baseChart
      [data]="doughnutChartData"
      [type]="doughnutChartType"
      [options]="doughnutChartOptions"
      [legend]="true"
      style="height: 300px"
    ></canvas>
  </div>
  <div style="width: 100%">
    <p class="desc-txt" style="text-align: center">
      The Chhattisgarh Forest and Climate Change Department focuses on
      conservation, biodiversity, sustainability, and climate action.
    </p>
    <div>
      <ion-card>
        <ion-card-header>
          <ion-card-title style="font-size: xx-large"
            >{{Completednumber+Pendingnumber}}</ion-card-title
          >
          <ion-card-subtitle>Total number of por</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content
          >Total number of POR (complaints) submitted by the Forest Beat
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title style="font-size: xx-large"
            >{{Completednumber}}</ion-card-title
          >
          <ion-card-subtitle>Total number of completed por</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content
          >Total number of POR (complaints) reviewed and completed by the Forest
          Higher Officer.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title style="font-size: xx-large"
            >{{Pendingnumber}}</ion-card-title
          >
          <ion-card-subtitle>Total number of pending por</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content
          >Total number of POR (complaints) pending review.
        </ion-card-content>
      </ion-card>
      <!-- <div style="width: 100%; background-color: red">
        <p
          class="title-txt"
          style="font-size: 40px; margin-bottom: 0; margin-top: 0"
        >
          {{Completednumber+Pendingnumber}}
        </p>
        <p class="desc-txt" style="width: 88%">
          Total number of POR (complaints) submitted by the Forest Beat
        </p>
      </div>
      <div style="display: flex">
        <div style="width: 88%">
          <p
            class="title-txt"
            style="font-size: 40px; margin-bottom: 0; margin-top: 0"
          >
            {{Completednumber}}
          </p>
          <p class="desc-txt">
            Total number of POR (complaints) reviewed and completed by the
            Forest Higher Officer.
          </p>
        </div>
        <div style="width: 88%">
          <p
            class="title-txt"
            style="font-size: 40px; margin-bottom: 0; margin-top: 0"
          >
            {{Pendingnumber}}
          </p>
          <p class="desc-txt">
            Total number of POR (complaints) pending review.
          </p>
        </div>
      </div> -->
    </div>
  </div>
</ion-content>
